<?xml version="1.0"?>
<!--
/** Hello menu xml
 * @category  Webkul
 * @package   Webkul_Hello
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ecomfit_Tracking::manager" title="Ecomfit" module="Ecomfit_Tracking" sortOrder="10" action="tracking/manager" resource="Ecomfit_Tracking::manager"/>
    </menu>
</config>
